body {
    color: #686868;
    background: #f2f2f2;
    font-size: 14px;
}
a {
    color: #000;
    text-decoration: none;
}
img {
    width: 100%;
    display: block;
}
.white {
    background: #fff;
}

/* ad */
.index_ad {
    height: 84px;
    display: -webkit-box;
    padding: 10px 0;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 640px;
    min-width: 320px;
    box-sizing: border-box;
}

.index_ad .ad_main {
    -webkit-box-flex: 1;
    overflow: hidden;
    position: relative;
}

.index_ad .ad_main img {
    width: 64px;
    height: 64px;
    position: absolute;
}

.index_ad .ad_main p {
    margin-left: 74px;
}

.index_ad .ad_main p.line_1 {
    margin-bottom: 6px;
    padding-top: 3px;
    color: #282828;
    font-size: 14px;
    line-height: 16px;
}

.index_ad .ad_main p.line_2 {
    color: #666;
    font-size: 12px;
    line-height: 16px;
}

.index_ad .ad_close {
    width: 37px;
    height: 100%;
    position: relative;
}

.index_ad .ad_close img {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 27px;
    right: 16px;
}

.index_ad .ad_open {
    display: block;
    width: 52px;
    text-align: center;
    line-height: 64px;
    height: 100%;
    color: #007efd;
    font-size: 18px;
    padding-right: 16px;
    box-sizing: border-box;
}